extends ../layout
include _mixins

block content
    .container
        .row
            .col-12.col-lg-6.offset-lg-3
                h1 Muokkaa kehua

                form(method="POST", action=`/kehut/${values.id}?_method=PUT`)
                    input(name="_csrf", type="hidden", value=csrfToken)
                    input(name="giver_id", type="hidden", value=user.id)
                    input(name="owner_id", type="hidden", value=user.id)
                    +form-group-input('title', 'Kehun otsikko', errors, values)
                    +form-group-textarea('text', 'Kehu', errors, values)
                    +form-group-input('giver_name', 'Kehun antaja', errors, values)
                    +form-group-input('location', 'Sijainti', errors, values)
                    +form-group-timestamp('date_given', 'Ajankohta', errors, values)

                    button.btn.btn-primary(type="submit") Tallenna