extends ../layout
include ../_flash-messages
include _mixins

block content
    .container
        +flash-messages('col-12')
        .row
            .col-12
                h1.d-inline-block.KehuTitle Kehut
                a.btn.btn-success.float-right.add-kehu-nw(href="/kehut/uusi") Lisää kehu
            .col-12.KehuList
                each kehu in kehus
                    +kehu-link(kehu)