extends ../layout
include ../_flash-messages
include _mixins

block content
    .container
        +flash-messages('col-12 col-lg-6 offset-lg-3')
        .row
            .col-12.col-lg-6.offset-lg-3.mb-4
                +kehu-delete-button(csrfToken, kehu)
                +kehu-edit-button(kehu, 'mr-2')
                a.btn.btn-link(href="/kehut") Takaisin
        .row
            .col-12.col-lg-6.offset-lg-3
                +kehu-card(kehu)