mixin flash-message(type, classname, cols)
    if (messages && messages[type])
        .row
            div(class=cols)
                div(class=`alert alert-${classname}`, role="alert")
                    span= messages[type]

mixin flash-messages(cols)
    +flash-message('info', 'info', cols)
    +flash-message('success', 'success', cols)
    +flash-message('error', 'danger', cols)
