mixin flash-message(type, classname)
    if (messages && messages[type])
        .container
            .row
                .col
                    div(class=`alert alert-${classname}`, role="alert")
                        span= messages[type]

+flash-message('info', 'info')
+flash-message('success', 'success')
+flash-message('error', 'danger')
