.Footer
  .container
    .row
      .col
        div
          img(src="/images/kehu-logo.png").Footer-logo
          p.Footer-copyright © Tradenomiliitto 2018

          ul.Footer-links
            li
              a.Footer-link(href="/rekisteriseloste") Rekisteriseloste
              a.Footer-link(href="https://www.tral.fi/yhteystiedot/") Yhteystiedot
