.Header
  .container
    .row
      .col.col-xs-12
        a(href="/")
          img(src="/images/kehu-logo.png").Header-logo

        ul.Header-links
          li.Header-link
            a(href="/blogi") Blogi
          li.Header-link
            button.Button.Button--rounded.Header-login.login-js.login-nw Kirjaudu