.jumbotron
    h1.mb-4 Kehu on paras kiitos!
    p.lead Palautteiden vastaanottaminen ja niistä oppiminen ovat olennainen osa ammattilaisuutta. Kehun avulla voit edistää oman osaamisen tunnistamista, urasuunnittelua ja taklata huijarisyndrooman.
    p.lead Hyvään palautteeseen palaaminen on myös keino parantaa omaa hyvinvointia.
    hr.my-4
    p.lead
        a.btn.btn-primary.btn-lg(href='/profiili/rekisteroidy' role='button') Rekisteröidy
        span.Jumbotron-loginText Onko sinulla jo tunnukset? #[a(href="/profiili/kirjaudu") Kirjaudu sisään]
