.jumbotron
    h1.display-3 Kehu!
    p.lead Vaihtelevalla menestyksellä myös kehu näyttää todeksi runsain määrin esiintyvää suurpiirteisyyttä sekä rauhattomuutta.
    hr.my-4
    p Vaikka usein kuuleekin aivan järjettömiä mielipiteitä, on kuitenkin tosiasia, että kehu parantaa tahojen yhteistyön kariutumisesta aiheutuvia hyökyaaltoja rahoitus- ja sijoitussektorilla.
    p.lead
        a.btn.btn-primary.btn-lg(href='/profiili/rekisteroidy' role='button') Rekisteröidy
        span.Jumbotron-loginText Onko sinulla jo tunnukset? #[a(href="/profiili/kirjaudu") Kirjaudu sisään]
