extends layout
include _mixins

block content
  include _header

  .Blog
    .container
      .row
        .col.col-xs-12
          h1.Posts-title Kehun blogi
          p.Posts-subtitle Nappaa parhaat vinkit, miten kehut auttavat sinua urallasi eteenpäin

          .Posts
            each post in posts
              +post-card(post)

      .row
        .col.col-xs-12
          +tags-list(tags)

  include _footer