doctype html
html
  head
    script(src='//cdn.auth0.com/js/auth0/9.5.1/auth0.min.js')
    script(type='text/javascript').
      var auth0 = new auth0.WebAuth({
        clientID: '#{env.AUTH0_CLIENT_ID}',
        domain: '#{env.AUTH0_DOMAIN}'
      });
      auth0.crossOriginVerification();
  body
