extends layout

block content

  .ErrorPage
    .container
      .row
        .col.col-xs-12.col-md-4
          img.ErrorPage-image(src="/images/kehu-thumbs-down.png")

        .col.col-xs-12.col-md-8
          h1.ErrorPage-title Täältä ei löydy mitään kehuttavaa
          p.ErrorPage-text SOS koodisana #{error.status}. Palaa takaisin edelliselle sivulle tai #[a(href="/") navigoi etusivullemme].

          //pre #{error.stack}

  include _footer
