extends layout

block content
  include _header
  .ErrorPage
    .container
      .row
        .col.col-xs-12.col-md-4
          img.ErrorPage-image(src="/images/kehu-thumbs-down.png")

        .col.col-xs-12.col-md-8
          h1.ErrorPage-title #{t('error.title', 'Täältä ei löydy mitään kehuttavaa')}
          p.ErrorPage-text !{t('error.text', { status: error.status, link: `<a href="/${language}">`, 'end-link': '</a>', defaultValue: 'SOS koodisana {{status}}. Palaa takaisin edelliselle sivulle tai {{link}}navigoi etusivullemme{{end-link}}.' })}

          //pre #{error.stack}

  include _footer
