extends layout

block content
  main.container(role='main')
    .row
        .col
          if user
            .jumbotron.Jumbotron
              .container
                h1.display-4 Päivän kehu:
                p= kehu.text
                p= kehu.giver_name
          else
            include _index-no-auth
