extends layout

block content
  include _header
  .Info
    main.container(role='main')
      .row
        .col.col-12.col-lg-8.col-lg-offset-2
          h1.Info-title Opi tuntemaan vahvuutesi

          p Kehu on täysin ilmainen ja kaikille avoin palvelu, jonka avulla voit lähettää, vastaanottaa ja kirjata hyvää palautetta. Kehujen listaamisen kautta saat konkreettisen käsityksen omista taidoistasi ja vahvuuksistasi. Lisäksi voit levittää hyvää fiilistä ympärillesi helpolla tavalla. Palvelu on henkilökohtainen eikä lisäämäsi sisältö näy muille. 

          h2.Info-subtitle Kerää positiivinen palaute hyödynnettäväksi dataksi

          p Kehussa vastaanottamasi tai sinne kirjaamasi hyvä palaute kertyy helppokäyttöiseksi tilastoksi, jota voit käyttää hyväksesi työpaikkaa hakiessa tai kehityskeskustelussa. Lisää taitosi ja vahvuutesi työhakemukseen tai CV:hen tai mainitse saamasi kehu työhaastattelussa!

          h2.Info-subtitle Lisää työhyvinvointia kehumalla kollegaa tai alaista

          p Maailmaan mahtuu aina lisää kannustavia sanoja. Levitä iloa ympärillesi kehumalla alaista tai kollegaa hyvin tehdystä työstä ja luo hyvää ilmapiiriä työyhteisöösi. Hyvän palautteen antaminen on helppoa - tarvitset vain kehuttavan henkilön sähköpostiosoitteen.

          h2.Info-subtitle Mitä hyötyä kehujen keräämisestä on?

          p Blogista löydät vinkkejä mm. oman osaamisen tunnistamiseen, työhakuun, palautteen antamiseen, kehityskeskusteluihin sekä työhakemuksen ja CV:n laadintaan.
          p Ongelmatilanteissa saat apua osoitteesta #[a(href="mailto:toimisto@tral.fi") toimisto@tral.fi].

  include _footer