block config
    -
        // List of variables to customize _head
        let config_title, config_image, config_pageUrl;

doctype html
html
    head
        include _head
        link(rel='stylesheet', href=getVersionedPath('/public.css'))
    body
        block content
        include _analytics