doctype html
html
  head
    include _head
    link(rel='stylesheet', href=getVersionedPath('/main.css'))
    meta(name="csrf-token" content=csrfToken)
  body
    noscript #{t('error.javascript-required', 'Valitettavasti Kehu-sovellus ei toimi ilman JavaScriptia. Ota se käyttöön jatkaaksesi käyttöä.')}
    block content
    include _analytics