extends layout

block content
    div.login
        script.
          var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
            auth: {
              redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
              responseType: 'code',
              params: {
                scope: 'openid name email picture'
              }
            },
            initialScreen: '#{initialScreen}',
            additionalSignUpFields: [
              {
                name: "first_name",
                placeholder: "Enter your first name"
              },
              {
                name: "last_name",
                placeholder: "Enter your last name"
              },
              {
                type: "checkbox",
                name: "privacy_policy_consent",
                prefill: "false",
                placeholder: "I hereby agree to Kehu privacy policy: https://kehu.com/privacy-policy",
                validator: function (consent) {
                  return {
                    valid: consent === true,
                    hint: "You must accept privacy policy to continue"
                  };
                }
              }
            ]
          });
          lock.show();