extends layout

block content
    main.container(role='main')
        .row
            .col-12.col-lg-8.offset-lg-2.mb-4
                h1.h3.mb-4 Rekisteriseloste

                h2.my-4.h4 1 Rekisterinpitäjä

                p
                    | Tradenomiliitto TRAL ry
                    | Ratavartijankatu 2, 00520 Helsinki
                    | Puh. #[a(href="tel:0201558800") 020 155 8800]
                    | #[a(href="mailto:toimisto@tral.fi") toimisto@tral.fi]

                h2.my-4.h4 2 Yhteyshenkilö rekisteriä koskevissa asioissa

                p
                    | Tomi Kouva
                    | Ratavartijankatu 2, 00520 Helsinki
                    | Puh. #[a(href="tel:0201558813") 020 155 8813]
                    | #[a(href="mailto:tomi.kouva@tral.fi") tomi.kouva@tral.fi]

                h2.my-4.h4 3 Rekisterin nimi

                p KEHU–palvelun käyttäjärekisteri

                h2.my-4.h4 4 Henkilötietojen käsittelyn tarkoitus

                p Jäsenpalvelujen toimittaminen
                p Palvelun jatkokehittäminen
                p Henkilötietoja käsitellään henkilötietolain sallimissa ja velvoittamissa rajoissa palvelun tuottamisessa.

                h2.my-4.h4 5 Rekisterin tietosisältö

                p Käyttäjien palveluun syöttämät tiedot, kuten nimi ja yhteystiedot.
                p Käyttäjän nimi ja profiilikuva on saatavilla vain muille kirjautuneille käyttäjille.
                p Käyttäjä määrittelee itse, mitä yhteystietoja haluaa jakaa ja kenelle.
                p Kerättyä tietoa ylläpidetään Heroku-palvelussa.

                h2.my-4.h4 6 Säännönmukaiset tietolähteet

                p Käyttäjien itse palveluun syöttämät tiedot.
                p KEHUun tallennetut tiedot eivät päivity Tradenomiliiton jäsenrekisteriin tai muihin kirjautumiseen käytettyihin palveluihin.

                h2.my-4.h4 7 Tietojen säännönmukaiset luovutukset

                p Alihankkijalla, Rebase Interactive, on oikeus käsitellä käyttäjien palveluun syöttämiä tietoja.
                p Palvelun kehityksessä hyödynnetään Google Analytics –palvelua.

                h2.my-4.h4 8 Tietojen siirto EU:n tai ETA:n ulkopuolelle

                p Tietoja ei siirretä EU- tai ETA-maiden ulkopuolelle.

                h2.my-4.h4 9 Rekisterin suojauksen periaatteet

                p Rekisteri on suojattu ulkopuoliselta käytöltä ja henkilötietojen käyttöä valvotaan. Pääsy rekisteriin on sallittu rajatulle joukolle.
