extends layout

block config
  - config_title = 'Kehu – Rekisteriseloste';
  - config_ogTitle = config_title;
  - config_description = 'Rekisteriseloste';
  - config_pageUrl = pageUrl;

block content
    include _header
    .PrivacyPolicy
        main.container(role='main')
            .row
                .col.col-12.col-lg-8.col-lg-offset-2
                    h1.PrivacyPolicy-title REKISTERISELOSTE

                    h2.PrivacyPolicy-subtitle 1 Rekisterinpitäjä

                    p
                        | Tradenomiliitto TRAL ry
                        br
                        | Ratavartijankatu 2, 00520 Helsinki
                        br
                        | Puh. #[a(href="tel:0201558800") 020 155 8800]
                        br
                        | #[a(href="mailto:toimisto@tral.fi") toimisto@tral.fi]

                    h2.PrivacyPolicy-subtitle 2 Yhteyshenkilö rekisteriä koskevissa asioissa

                    p
                        | Tomi Kouva
                        br
                        | Ratavartijankatu 2, 00520 Helsinki
                        br
                        | Puh. #[a(href="tel:0201558813") 020 155 8813]
                        br
                        | #[a(href="mailto:tomi.kouva@tral.fi") tomi.kouva@tral.fi]

                    h2.PrivacyPolicy-subtitle 3 Rekisterin nimi

                    p KEHU–palvelun käyttäjärekisteri

                    h2.PrivacyPolicy-subtitle 4 Henkilötietojen käsittelyn tarkoitus

                    p Jäsenpalvelujen toimittaminen
                    p Palvelun jatkokehittäminen
                    p Henkilötietoja käsitellään henkilötietolain sallimissa ja velvoittamissa rajoissa palvelun tuottamisessa.

                    h2.PrivacyPolicy-subtitle 5 Rekisterin tietosisältö

                    p Käyttäjien palveluun syöttämät tiedot, kuten nimi ja yhteystiedot.
                    p Käyttäjän nimi ja profiilikuva on saatavilla vain muille kirjautuneille käyttäjille.
                    p Käyttäjä määrittelee itse, mitä yhteystietoja haluaa jakaa ja kenelle.
                    p Kerättyä tietoa ylläpidetään Heroku-palvelussa.

                    h2.PrivacyPolicy-subtitle 6 Säännönmukaiset tietolähteet

                    p Käyttäjien itse palveluun syöttämät tiedot.
                    p KEHUun tallennetut tiedot eivät päivity Tradenomiliiton jäsenrekisteriin tai muihin kirjautumiseen käytettyihin palveluihin.

                    h2.PrivacyPolicy-subtitle 7 Tietojen säännönmukaiset luovutukset

                    p Alihankkijalla, Rebase Interactive, on oikeus käsitellä käyttäjien palveluun syöttämiä tietoja.
                    p Palvelun kehityksessä hyödynnetään Google Analytics –palvelua.

                    h2.PrivacyPolicy-subtitle 8 Tietojen siirto EU:n tai ETA:n ulkopuolelle

                    p Tietoja ei siirretä EU- tai ETA-maiden ulkopuolelle.

                    h2.PrivacyPolicy-subtitle 9 Rekisterin suojauksen periaatteet

                    p Rekisteri on suojattu ulkopuoliselta käytöltä ja henkilötietojen käyttöä valvotaan. Pääsy rekisteriin on sallittu rajatulle joukolle.

    include _footer