extends ../layout
include _mixins

block content
    main.container(role='main')
        .row
            .col
                include ../_index-no-auth

                +auth0-lock-js(env, initialScreen)