.KehuTitle {
  margin-bottom: 32px;
}

.KehuList {
  display: flex;
  flex-wrap: wrap;
}

.Kehu {
  color: initial;
  flex-grow: 1;

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}

.Kehu-text {
  white-space: pre-line;
}

.Kehu-quotemark {
  font-weight: bold;
  font-size: 60px;
  font-family: "Times New Roman", Arial, sans-serif;
  line-height: 40px;
  margin: 0;
}

a.KehuLink {
  &:hover {
    text-decoration: none;
  }
}

.KehuTable td {
  border-top: 0;

  &:first-child {
    width: 90px;
  }
}
