.UserInfo-picture {
  display: block;
  margin: 0 auto 2em;
  max-width: 120px;
}

.UserInfo-table {
  tr {
    border-bottom: 1px solid rgb(221, 221, 221);

    &:last-child {
      border-bottom: 0;
    }

    > td {
      border-top: 0;
    }
  }
}

.UserInfo-resetPassword {
  float: right;
}

.UserInfo-text {
  padding: 0.75rem;
}
