.Button {
  background-color: $pink;
  background-color: -moz-linear-gradient(45deg, $bg-pink 0%, $pink 100%);
  background-color: -webkit-linear-gradient(45deg, $bg-pink 0%, $pink 100%);
  background-color: linear-gradient(45deg, $bg-pink 0%, $pink 100%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-pink', endColorstr='$pink',GradientType=1 );

  &--rounded {
    border-radius: 1.5em;
  }

  &--inverse {
    @extend .Button;
    border: 1px solid $button-bg;
    border-radius: 1.5em;
    background-color: transparent;
    color: $button-bg;

    &:hover,
    &:focus,
    &:active {
      border-color: $button-hover-bg;
      background-color: transparent;
      color: $button-hover-bg;
    }
  }

  &--inverseNoBorders {
    @extend .Button--inverse;
    background: none;
    border: 0;
    box-shadow: none;
  }

  &--wide {
    padding: $button-padding-vertical 6em;
    white-space: nowrap;
  }

  &--fullWidth {
    width: 100%;
  }
}
