@use "sass:math";
$imageDim: 78px;

.Feed-title {
  color: $secondary;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 !important;
}

.Feed-link {
  float: right;
  margin-bottom: 2rem;
}

.FeedItem {
  background-color: $white;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1rem;
  min-height: calc(2rem + #{$imageDim});
  // These are required for the new-kehu-ribbon
  overflow: hidden;
  padding: 1rem 2rem 1rem 1rem;
  position: relative;

  &--noImage {
    .FeedItem-text,
    .FeedItem-info {
      padding-left: 0;
    }
  }
}

.FeedItem-image {
  border-radius: calc(#{$imageDim} / 2);
  float: left;
  height: $imageDim;
  width: $imageDim;
}

.FeedItem-image--others {
  border-radius: calc(#{$imageDim} / 2);
  float: left;
  height: math.div($imageDim, 2);
  width: math.div($imageDim, 2);
}

.FeedItem-image--others-first {
  position: relative;
  top: math.div($imageDim, 2);
}

.FeedItem-date {
  float: right;
}

.FeedItem-text {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 1.5rem 0 0;
  padding-left: calc(#{$imageDim} + 1rem);
}

.FeedItem-info {
  font-size: 0.8125rem;
  font-weight: 500;
  padding-left: calc(#{$imageDim} + 1rem);
}

.FeedItem-plainLink {
  &,
  &:hover,
  &:link,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}
