.Feed-title {
  color: $secondary;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 !important;
}

.Feed-link {
  float: right;
  margin-bottom: 2rem;
}

.FeedItem {
  background-color: $white;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.16);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.FeedItem-date {
  float: right;
}

.FeedItem-text {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 1.5rem 0 0;
}

.FeedItem-info {
  font-size: 0.8125rem;
  font-weight: 500;
  margin: 0 0 1.5rem !important;
}
