.Form-group {
  padding: 1rem 0;

  > label {
    color: $secondary;
  }
}

.KehuTextFieldContainer {
  background-image: url("/images/quote-bubble.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 220px;
  position: relative;

  &:before,
  &:after {
    background-image: url("/images/quote-marks.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
  }

  &:before {
    top: 1rem;
    left: 1rem;
  }

  &:after {
    bottom: 3rem;
    right: 1rem;
  }
}

.KehuTextField {
  background: transparent;
  border: 0;
  margin: 0 1rem;
  padding: 0 1rem;
  width: calc(100% - 2rem);
}

.DateGivenFieldContainer {
  > label {
    padding-right: 1.5rem;
  }
}

.DateGivenField {
  background-image: url("/images/icon-calendar.svg");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
}

.SituationContainer,
.TagsContainer {
  > label {
    display: block;
    padding-bottom: 2rem;
    text-align: center;
  }
}

.WordCloudField {
  border: 0;
  border-bottom: 1px solid #989898;
  border-radius: 0;
  display: inline-block;
  margin-right: 1rem;
  width: 70%;
}

.WordCloudValue {
  background-color: $light-pink;
  border: 1px solid $pink;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 4px;
  margin: 0.5rem 0.5rem 0 0;
}

.WordCloudValue-removeButton {
  background: transparent;
  border: 0;
  color: #ae8991;
  left: 2px;
  position: relative;
  top: 2px;
}
