.Modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;

  @include mq(lg) {
    padding: 2rem 0;
  }
}

.Modal-content {
  background: white;
  border-radius: 1rem 1rem 0 0;
  margin: 0 auto;
  max-height: 100%;
  overflow: auto;
  padding: 1rem 15px 1rem 1rem;
  position: relative;
  width: 395px;
}

.selectKehusToReport .Modal-content {
  @include container;
}

.Modal-closeCross {
  background: none;
  border: 0;
  color: $brown;
  cursor: pointer;
  font-size: 24px;
  left: 1rem;
  position: absolute;
  top: 1rem;
}

.Modal-title {
  color: $secondary;
  font-size: 1.375rem;
  margin: 0.5rem 0 0;
  text-align: center;
}

.Modal-closeButton {
  position: absolute;
  right: 2em;
  top: 1em;
}
