$header-height: 66px;

.Header {
  height: $header-height;
}

.Header-logo {
  height: 30px;
  margin: 16px 0 20px;
}

.Header-links {
  @extend .pull-right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header-link {
  display: inline;
  line-height: $header-height;
  padding: 0 1rem;

  > a {
    color: $secondary;
    font-weight: 500;
    transition: $button-transition;

    &:hover {
      color: $light-secondary;
      text-decoration: none;
    }
  }
}

.Header-login {
  line-height: initial;
  width: 177px;
}
