.App {
  background-image: url("/images/app-background-small.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;

  @include mq(lg) {
    background-image: url("/images/app-background.svg");
  }
}
