.App {
  background-image: url("/images/app-background-small.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(lg) {
    background-image: url("/images/app-background.svg");
  }
}

.Content {
  min-height: calc(100vh - #{$header-height + $footer-height});
}
