.Blog {
  background: $white-bg;
}

.Post {
  background: $white;
  margin-top: 2rem;
  padding: 2rem 1rem;
}

.Post-title {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}

.Post-info {
  font-size: 0.875rem;
}

.Post-separator {
  margin: 0 0.5rem;
}

.Post-tags {
  text-transform: capitalize;
}

.Post-image {
  margin-bottom: 2rem;
}

.Post-button {
  border: 2px solid $pink;
  border-radius: 4px;
  font-weight: 500;
  margin: 2rem 0 4rem;

  &--next {
    float: right;
  }
}

.SimilarPosts-title {
  font-size: 2rem;
  font-weight: 500;
}

.SimilarPosts {
  column-count: 1;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 4rem;

  @include mq(md) {
    column-count: 2;
  }
}

.PostCard {
  background: $white;
  display: block;
  color: $black;

  &:hover,
  &:active,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.PostCard-content {
  padding: 1rem;
}

.PostCard-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
