.Groups {
  margin: 2rem 0;
}

.GroupsPanel-title {
  color: $secondary;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.GroupsPanel-dashedBox {
  text-align: center;
  border: 2px dashed $medium-grey;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px 40px 30px;
}

.GroupsPanel-emptyText {
  margin: auto;
  max-width: 700px;
}

.GroupsPanel-addGroupButton {
  margin: 1rem;
}

.InviteMembersField-disclaimer {
  font-size: x-small;
}

.InviteMembersField-input {
  @extend .WordCloudField;
}

.InviteMembersField-addedEmail {
  @extend .WordCloudValue;
  display: block;
  width: fit-content;
}

.InviteMembersField-removeEmailBtn {
  @extend .WordCloudValue-removeButton;
}

.GroupsPanel-ErrorMessage {
  color: red;
  font-size: smaller;
  margin-top: 0.2rem;
}

.GroupPicture {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border: none;
  background-color: transparent;

  &.Selected {
    outline: $dark-pink solid 3.5px;
    outline-offset: 2px;
  }
}

.GroupPicture-image {
  height: 100%;
  width: 100%;
}

.AddGroupPicture {
  @extend .GroupPicture;
  border-style: dashed;
  border-width: 2px;
  background-color: $white-bg;
  font-size: x-small;
  text-align: center;

  .PlusSign {
    font-size: large;
  }
}

.GroupPicturePreview {
  @extend .GroupPicture;
  display: block;
  margin: 20px auto 10px auto;
}

.CreateGroupPreview-GroupName {
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

.CreateGroupPreview-GroupDescription {
  text-align: center;
  font-size: smaller;
  font-weight: 500;
}

.CreateGroupPreview-InviteMembers {
  margin: 20px -1rem;
  padding: 10px 2rem;
  background-color: $light-grey;

  .InviteMembersTitle {
    color: $green;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .MemberEmail {
    font-weight: 300;
  }
}

.CreateGroupPreview-PreviewInfo {
  font-size: small;
  margin: 0 1rem;
}

.MyGroups-Card {
  @extend .Card;
  padding-left: 0;
  padding-right: 0;
}

.MyGroups-title {
  padding-left: 1rem;
  padding-right: 1rem;
}

.MyGroups-OneGroup {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.MyGroups-GroupPicture {
  @extend .GroupPicture;
  height: 50px;
  width: 50px;
  min-width: 50px;
  margin-top: 0;
}

.MyGroups-GroupDetails {
  display: inline-block;
  min-width: 0;
  flex-grow: 1;
}

.MyGroups-GroupName {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MyGroups-GroupInfo {
  font-size: 10px;
  font-weight: bold;
}

.MyGroups-addNewGroupContainer {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.MyGroups-GroupButton {
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: inherit;

  padding: 0 0.5rem;

  &.MyGroups-ActiveGroup {
    background-color: $lighter-pink;
  }
}

.MyGroups-SelectGroupArrow {
  transform: rotate(-90deg);
  margin-right: 0.5rem;
}

.MyGroups-SeparatorLine {
  margin: 0 0.5rem;
}

.MyGroups-OneMember {
  @extend .MyGroups-OneGroup;
  height: auto;
  padding: 0.5rem;

  &.DarkRow {
    background-color: $light-grey;
  }
}

.MyGroups-MemberPicture {
  @extend .GroupPicture;
  height: 25px;
  width: 25px;
  min-width: 25px;
  margin-top: 0;
}

.MemberPicture-image {
  @extend .GroupPicture-image;
}

.MyGroups-MemberDetails {
  @extend .MyGroups-GroupDetails;
}

.MyGroups-MemberName {
  @extend .MyGroups-GroupName;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.MyGroups-MemberInfo {
  @extend .MyGroups-GroupInfo;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.MyGroups-MemberAdmin {
  font-size: 12px;
  color: $medium-dark-grey;
  align-self: flex-start;
}

.MyGroups-GroupMemberOverview {
  font-weight: bold;
  font-size: 12px;
  margin: 0 1rem 1rem 1rem;
}
