.GroupsPanel-title {
  color: $secondary;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.GroupsPanel-dashedBox {
  text-align: center;
  border: 2px dashed $medium-grey;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px 40px 30px;
}

.GroupsPanel-emptyText {
  margin: auto;
  max-width: 700px;
}

.GroupsPanel-addGroupButton {
  margin: 1rem;
}

.InviteMembersField-disclaimer {
  font-size: x-small;
}

.InviteMembersField-input {
  @extend .WordCloudField;
}

.InviteMembersField-addedEmail {
  @extend .WordCloudValue;
  display: block;
  width: fit-content;
}

.InviteMembersField-removeEmailBtn {
  @extend .WordCloudValue-removeButton;
}

.InviteMembersField-incorrectEmail {
  color: red;
  font-size: smaller;
}
