.Home {
  margin: 2rem 0;
}

.HomeButtons {
  background-color: $white;
  padding: 2rem 1rem;

  @include mq($until: md) {
    margin: 0 0 1rem;
    padding: 2rem 0;
  }
}

.HomeButtons-title {
  color: $secondary;
  font-size: 2rem;
  font-weight: 500;
}

.HomeButtons-buttons > button {
  text-align: center;
  width: 100%;

  &:first-child {
    margin: 1rem 0;
  }
}

.Welcome {
  border: 2px dotted $dark-grey;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 2rem 2rem 2rem 0;
}

.Welcome-image {
  display: flex;
  height: 100%;
  justify-content: center;
}

.Welcome-title {
  @extend .HomeButtons-title;

  margin-bottom: 1.5rem;
}

.Welcome-text {
  color: $secondary;
}

.SidebarElement {
  @extend .Card;
}

.SidebarElement-title {
  color: $secondary;
  font-size: 1.125rem;
  font-weight: 500;
}

.SidebarElement-text {
  font-size: 0.875rem;
}

.SidebarElement-image {
  margin-bottom: 1.5rem;
}

.SidebarElement-list {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;

  > li {
    color: $secondary;
    font-weight: lighter;
    line-height: 2rem;
  }
}
