.Home {
  margin: 2rem 0;
}

.HomeButtons {
  background-color: $white;
  padding: 2rem 1rem;
}

.HomeButtons-title {
  color: $secondary;
  font-size: 2rem;
  font-weight: 500;
}

.HomeButtons-buttons > button {
  text-align: center;
  width: 100%;

  &:first-child {
    margin: 1rem 0;
  }
}

.Welcome {
  border: 2px dotted $dark-grey;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 2rem 2rem 2rem 0;
}

.Welcome-image {
  display: flex;
  height: 100%;
  justify-content: center;
}

.Welcome-title {
  @extend .HomeButtons-title;
  margin-bottom: 1.5rem;
}

.Welcome-text {
  color: $secondary;
}
