.LandingSection1 {
  background-image: url("/images/landing-hero-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.LandingSectionContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--padding {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include mq(sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @include mq(md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include mq(lg) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.HeroSectionContent {
  height: calc(100% - #{$header-height});
  padding: 15% 1rem;

  @include mq(sm) {
    padding: 15% 2rem;
  }

  @include mq(lg) {
    background-image: url("/images/landing-hero-image.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.HeroSectionContent-title {
  color: $white;
  font-weight: 500;
}

.HeroSectionContent-button {
  margin: 2rem 0;
}

.HeroSectionContent-text {
  font-size: 0.875rem;
}

.LandingSection2-image {
  height: 400px;
  margin: 6rem 0 4rem;
}

.LandingSection3 {
  background-color: $light-pink;
}

.LandingSection3-image {
  max-width: 365px;
  padding: 6rem 0;
}

.LandingSection4-image {
  @include mq(lg) {
    max-width: initial;
    min-height: 594px;
    width: auto;
  }
}

.LandingSection5 {
  background-color: $lighter-grey;
}

.LandingSection6 {
  @include mq(xl) {
    background-image: url(/images/landing-section-6-image.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}

.BlogLinkSection {
  padding-top: 2rem;

  @include mq(xl) {
    align-items: flex-start;
  }
}
