.KehusPanel {
  margin-bottom: 2rem;
}

.KehusPanelHeader {
  padding-top: 1rem;
}

.KehusPanelHeader-title {
  color: $secondary;
  font-size: 2.625rem;
  font-weight: normal;
  display: block;

  @include mq(md) {
    display: inline-block;
  }
}

.KehusPanelHeader-text {
  margin: 0 0 1rem;
  display: block;

  @include mq(sm) {
    display: inline;
    margin: 0 1rem 0 0;
  }

  @include mq(md) {
    margin: 0 1rem 0 2rem;
  }
}

.KehusPanelHeader-button {
  bottom: 0.75rem;
  position: relative;
}

.KehusTable {
  background-color: $table-stripe-bg;

  > thead th {
    border-bottom-width: 1px; // Baseguide override
  }

  td,
  th {
    border: 1px solid $medium-grey;
  }
}

.KehusTable-head {
  color: $secondary;
  font-weight: 500;
  font-size: 0.875rem;
}

.KehusTable-row {
  cursor: pointer;
  font-size: 0.75rem;

  td:nth-child(5),
  td:nth-child(6) {
    max-width: 150px;
    overflow: hidden;
  }
}

.KehusTable-cell {
  &--text {
    font-weight: 300;
  }

  &--tags {
    max-height: 52px;
    overflow: hidden;
  }

  &--tagsOpen {
    max-height: initial;
    overflow: initial;
  }
}

.KehusTable-starColumn {
  min-width: 128px;
}

.KehusTable-star {
  height: 18px;
  margin: 0 2px;
  width: 18px;
}

.KehusTable-item {
  background-color: $light-pink;
  border: 1px solid $pink;
  border-radius: 2px;
  display: inline-block;
  font-weight: 300;
  margin: 0 2px 2px 0;
  padding: 2px 4px;
  text-transform: capitalize;
}

.KehusTableActionButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.KehusTableActionButton-image {
  max-height: 18px;
  max-width: 18px;
}
