.ProfilePanel {
  margin: 1rem 0 2rem;
  padding: 1rem 0;

  @include mq(md) {
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    margin-top: 2rem;
  }
}

.ProfilePanel-title {
  color: $secondary;
  font-size: 42px;
  font-weight: 400;
}

.ProfilePicture {
  margin-bottom: 2rem;
  text-align: center;
}

.ProfilePicture-image {
  border-radius: 60px;
  max-height: 120px;
  max-width: 120px;
}

.UploadNewProfilePicture {
  margin-top: 3rem;
  text-align: center;
}

.ProfileInfo-label {
  color: $secondary;
  font-weight: 500;
  margin: 0 0 0.3rem;
  padding-top: 1rem;
}

.ProfileInfo-text {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  display: block;
  height: 3em;
  line-height: 2.25em;
  margin: 0 0 1rem;
  padding: $input-padding-vertical $input-padding-horizontal;
}

.ProfileActionLink {
  display: block;
  margin: 1rem 0;
  transition: $button-transition;

  &:first-of-type {
    margin-top: 3rem;
  }

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }
}

.ProfileDeleteLink {
  border-radius: $button-border-radius;
  margin-top: 4rem;
  width: 100%;
}

.auth0-lock.auth0-lock .auth0-lock-back-button {
  display: none;
}

.ProfileEditButton {
  @extend .KehusTableActionButton;

  position: absolute;
  right: 1rem;
  top: 0;
}

.ProfileEditButton-image {
  @extend .KehusTableActionButton-image;
}
