$element-height: 362px;

.ReportPanel {
  margin: 1rem 0 2rem;

  @include mq(lg) {
    margin-top: 5rem;
  }
}

.PreviewButton {
  display: none;
  float: right;
  margin-top: 2rem;

  @include mq(lg) {
    display: block;
  }
}

.PrintableModal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PrintableModal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 0;
  width: 100%;
}

.PrintableContainer {
  max-height: 100%;
  overflow: scroll;
}

.SaveButtonContainer {
  background: $white;
  height: calc(38px + 2rem);
  margin: 0 auto;
  width: 210mm;
}

.SaveButton {
  float: right;
  margin: 1rem;
}

.PrintableReport {
  background: $white;
  height: 297mm;
  margin: 0 auto;
  width: 210mm;

  .ReportElement {
    background: $white-bg;
    box-shadow: initial;
    margin: initial;
  }

  .row--margins {
    margin-left: 38px;
    margin-right: 38px;
  }

  .col--centerMargin {
    padding-left: 10px;
    padding-right: 10px;
  }

  .element--verticalPadding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .PrintableReport__Header {
    height: 155px;
    background: $white-bg;
    margin-top: 12px;
  }

  .PrintableReport__Footer {
    height: 100px;
    margin-top: 10px;
    background: $green;

    .Footer__kehu {
      width: 100px;
      color: $white;
      font-weight: 300;
      top: 28px;
      left: 50px;
      position: relative;
      font-size: 0.7rem;
      line-height: 1.6rem;
      float: left;
    }

    .Footer__tral-logo {
      width: 150px;
      position: relative;
      right: 47px;
      bottom: 28px;
      float: right;
    }
  }

  .KehuCount {
    padding-top: 2rem;
    height: 300px;
    text-align: left;
  }

  .KehuCount-count {
    font-size: 140px;
  }

  .KehuCount-text {
    font-size: 1.5rem;
  }

  .TopRole {
    height: 150px;
  }

  .TopRoles-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 14px;
  }

  .TopRoles-image {
    width: 100px;
    position: absolute;
    float: right;
    bottom: 40px;
    right: 40px;
  }

  .Thumb-image {
    float: right;
    position: absolute;
    z-index: 1;
    width: 40%;
    top: 100px;
    right: -10px;
  }

  .KehuCount-bottom {
    margin-top: -8px;
  }

  .KehuCount--small {
    .KehuCount {
      height: 167px;
    }

    .KehuCount-text {
      width: 50%;
      font-size: 1.5rem;
      display: inline-block;
      vertical-align: top;
    }

    .KehuCount-count {
      top: -2px;
      right: -5px;
      position: absolute;
      width: 200px;
      text-align: center;
    }

    .KehuCount-bottom {
      display: none;
      font-size: 2rem;
    }
  }

  .element--combined {
    .TopTagsPanel {
      height: auto;
      padding-top: 5px;
      margin-top: -50px;
    }

    .TopTagsPanel-title {
      display: none;
    }

    .TopTagsPanel-wrapper {
      height: 200px;
    }
  }

  .TopTagsPanel-wrapper {
    height: calc(#{$element-height} - 7.5rem);
  }

  .PrintableReport__Header {
    padding: 10px;
  }

  .ReportTitle {
    font-size: 4rem;
    font-weight: 500;
    color: $pink;
  }

  .ReportSubtitle {
    font-size: 0.75rem;
    padding-left: 5px;
    margin-top: -4px;
  }

  .ReportUsername {
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
  }

  .ReportDate {
    @extend .ReportSubtitle;
    text-align: right;
  }
}

.html2canvas-container {
  width: 3000px !important;
  height: 5000px !important;
}

.ReportElement {
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0.9375rem 0;
  padding: 2rem;
  position: relative;
}

.KehuCount {
  color: $secondary;
  height: $element-height;
  padding-top: 3rem;
  text-align: center;
}

.KehuCount-text {
  font-size: 1.25rem;
  margin: 0;
}

.KehuCount-count {
  font-size: 170px;
  font-weight: 400;
  line-height: 170px;
}

.KehuCount-bottom {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 12px;
}

.TopRoles {
  padding: 2rem 2rem 4rem 3rem;
}

.TopRoles-title {
  color: $secondary;
  font-size: 1.875rem;
  line-height: 2.125rem;
}

.TopRoles-notice {
  color: $secondary;
}

.TopRoles-container {
  border-bottom: 1px solid $darkish-grey;
  border-left: 1px solid $darkish-grey;
  position: relative;
}

.TopRoles-counts {
  height: 100%;
  left: -1.5rem;
  position: absolute;
}

.TopRoles-count {
  color: $secondary;
  font-size: 1.125rem;
  font-weight: 400;
  position: absolute;
}

.TopRoles-max {
  top: -0.5rem;
}

.TopRoles-twothirds {
  top: 25%;
}

.TopRoles-half {
  top: calc(50% - 1rem);
}

.TopRoles-onethird {
  top: calc(75% - 2rem);
}

.TopRoles-min {
  bottom: -0.5rem;
}

.TopRole {
  display: inline-block;
  height: 200px;
  position: relative;
}

.TopRole-column {
  bottom: 0;
  background: $pink;
  background: -moz-linear-gradient(top, $pink 1%, $bg-pink 100%);
  background: -webkit-linear-gradient(top, $pink 1%, $bg-pink 100%);
  background: linear-gradient(to bottom, $pink 1%, $bg-pink 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$bg-pink',GradientType=0 );
  left: 1rem;
  max-height: 0;
  position: absolute;
  transition: max-height 1s ease-out;
  width: 2rem;

  &--animate {
    max-height: 100%;
  }
}

.TopRole-name {
  bottom: -46px;
  color: $secondary;
  font-size: 0.875rem;
  font-weight: 400;
  left: -8px;
  position: absolute;
  transform: rotate(-45deg);
  white-space: nowrap;
}

.TopItems-title {
  @extend .TopRoles-title;
}

.TopItems-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 206px;
  justify-content: center;
}

.TopItems-wrapper {
  height: 100%;
  width: 100%;
}

.TopItemsCloud {
  flex: 1;
}

.TopItemsCloud-item {
  border: 1px solid transparent;
  color: $secondary;
  font-size: 16px !important;
  margin: 0.25rem;

  &--medium {
    font-size: 20px !important;
  }

  &--large {
    font-size: 24px !important;
  }
}

.TopTagsPanel {
  height: $element-height;
}

.TopTagsPanel-title {
  @extend .TopRoles-title;
}

.TopTagsPanel-wrapper {
  height: calc(#{$element-height} - 5.5rem - 34px);
}

.ListItems {
  height: 300px;
}

.ListItems-title {
  @extend .TopRoles-title;
}

.ListItems-container {
  font-weight: 300;
  font-size: 1.3rem;
  position: relative;
  left: -18px;
}
